- url = @book.new_record? ? admin_books_path : admin_book_path(@book)

= form_for(@book,:url=> url, :html=> { class: "form book-form" }) do |f|
  - if page.resource.errors.any?
    #error_explanation
      %h2
        = pluralize(page.resource.errors.count, "error")
        prohibited this #{page.resource_name} from being saved:
      %ul
        - page.resource.errors.full_messages.each do |message|
          %li= message
  %fieldset.form-group
    = f.hidden_field :book_cover_url,class:'url_cover'
    - page.attributes.each do |attribute|
      - if attribute.name == 'name'
        .book-name
          = f.text_field :name,placeholder:"书籍名称"
      - elsif attribute.name == 'author'
        .book-author
          = f.text_field :author,placeholder:"作者"
      - elsif attribute.name == 'description'
        .book-description
          = f.text_field :description,placeholder:"书籍描述"
      - elsif attribute.name == 'recommand'
        .book-recommand
          = f.text_field :recommand, placeholder:"推荐说明"
      - elsif attribute.name == 'image'
        .book-cover
= render "application/dropzone"
.form-actions
  = button_tag "提交表单", class: 'btn-book-new-edit'

:javascript

  $(".btn-book-new-edit").on('click',function(){
    $(".book-form").submit();
  });
