%aside.main.index-sidebar.experence
  %h4.ui.header.home-book-title 推荐图书
  .list-book-list.ui.styled.accordion
    .active.title
      %i.dropdown.icon
      = @book_first.name
    .active.content
      .item
        = image_tag "#{@book_first.image.url}",class:'ui top aligned tiny image'
        .content{style:'display: inline-block;'}
          %h4.ui.header #{@book_first.name}
          %span.description
            #{@book_first.author}
    - @books.each do |b|
      .title
        %i.dropdown.icon
        = b.name
      .content
        .item
          = image_tag "#{b.image.url}",class:'ui top aligned tiny image'
          .content.open-event
            %h4.ui.header #{b.name}
            %span.description
              #{b.author}
:javascript
  $('.ui.accordion').accordion({
    onOpening: function(){
      $('.open-event').addClass('book-info');
    },
    onClose: function(){
      $('.open-event').removeClass('book-info');
    }
  });
