- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客,个人主页,全栈工程师"
= javascript_include_tag 'typed'
-cache 'home-index' do
  %main
    .masthead.segment
      .ui.text.container
        %h1.ui.inverted.header
          %span.person-title
            Wenwei Huang
          %div.typedjs
            %span.person-description
        .ui.fluid.horizontal.list
          .item
            = link_to "联系我","javascript:void(0)",class:'large ui inverted button'
          .item
            = link_to "简  历","javascript:void(0)",class:'large ui inverted button'
    .post-list.ui.stripe.vertical.segment
      .ui.stackable.very.relaxed.grid.container
        .row
          .twelve.wide.column
            = render 'post'
          .four.wide.column
            = render 'experence'
        .one.wide.column
    .brief-itro.ui.stripe.community.vertical
      .ui.three.column.center.aligned.very.relaxed.stackable.grid.container
        .row.self-info
          .column
            %h2.ui.header
              = image_tag("/idnetity.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                我叫黄文威
              .item
                92年生于广东, 15年毕业于广州某所高校
              .item
                喜欢看书，跑步，业余时间还会烧菜做饭
              .item
                我觉得自己很 nice, 性情温和，人畜无害
          .column
            %h2.ui.header
              = image_tag("/work.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                我是一名软件工程师
              .item
                目标成为一名合格的全栈工程师
              .item
                目前供职于 oschina , 负责码云产品
              .item
                熟悉 Ruby/Rails js/css LINUX Semantic-Ui
          .column
            %h2.ui.header
              = image_tag("/dream.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                没梦想，好好活着算是梦想吗
              .item
                敬畏未知，看书以求多些认知外界
              .item
                慎言慎行，思考以求自我认知、进化
              .item
                \......
:coffee
  $('.person-description').typed
    strings: [ '专注于 Web 全栈开发。' ]
    loop: true
    showCursor: true
    startDelay: 500
    backSpeed: 10
    backDelay: 1500
    typeSpeed: 80
    cursorChar: "|"
    contentType: 'html'
