- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客"
= javascript_include_tag 'typed'
-cache 'home-index' do
  %main.pusher
    .masthead.segment
      .ui.text.container
        %h1.ui.inverted.header
          %span.person-title
            Wenwei Huang
          %div.typedjs
            %span.person-description
        .ui.fluid.horizontal.list
          .item
            = link_to "联系我","javascript:void(0)",class:'large ui inverted button'
          .item
            = link_to "简  历","javascript:void(0)",class:'large ui inverted button'
    .post-list.ui.stripe.vertical.segment
      .ui.stackable.very.relaxed.grid.container
        .row
          .twelve.wide.column
            = render 'post'
          .four.wide.column
            = render 'experence'
        .one.wide.column
    .brief-itro.ui.stripe.community.vertical
      .ui.three.column.center.aligned.very.relaxed.stackable.grid.container
        .row.self-info
          .column
            %h2.ui.header
              = image_tag("/idnetity.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                xxxxxxxxxxxxllllllhjjj
              .item
                yyyfds
          .column
            %h2.ui.header
              = image_tag("/work.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                xxxxxxxxxxxxllllllhjjj
              .item
                yyyfdsfdsfdsfdfdsf
          .column
            %h2.ui.header
              = image_tag("/dream.gif",class:'ui avatar small image')
            .ui.list.segment.brief-itro-desc.left.aligned
              .item
                xxxxxxxxxxxxllllllhjjj
              .item
                yyyfdsfdsfdsfdfdsf

:coffee
  $('.person-description').typed
    strings: [ '专注于 Web 全栈开发。' ]
    loop: true
    showCursor: true
    startDelay: 500
    backSpeed: 10
    backDelay: 1500
    typeSpeed: 80
    cursorChar: "|"
    contentType: 'html'
