- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客,个人主页,全栈工程师"
-cache 'home-index' do
  .masthead.segment
    .ui.text.container
      %h1.ui.inverted.header
        %span.person-title
          -# What's Going On
        %div.typedjs
          %p.person-description
      .ui.fluid.horizontal.list
        .item
          = link_to "Contact","javascript:void(0)",class:'large ui inverted button', data:  { behavior: "homeContactMe" }
        .item
          = link_to "RESUME", post_path(ResumePost.first), class:'large ui inverted button'
  .brief-itro.ui.stripe.community.vertical
    .ui.three.column.center.aligned.very.relaxed.stackable.grid.container
      .row.self-info
        .column
          %h2.ui.header
            = image_tag("/idnetity.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              正在努力建设祖国改革开放特区
            %p
              喜欢看书、英语、编程、跑步、思考
            %p
              软件研发工程师、良好市民人畜无害
        .column
          %h2.ui.header
            = image_tag("/work.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              坚信技术可以让生活变得更美好
            %p
              擅长后端开发，喜欢研究新技术
            %p
              致力研发高性能、可用的商业软件

        .column
          %h2.ui.header
            = image_tag("/dream.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              心存善念，永远热泪盈眶
            %p
              认识自己持续进化，敬畏未知
            %p
              穷则独善其身，富则兼济天下
  .contact.segment
    .ui.text.container
      = form_for :contact, url: contacts_path, remote:true, html:{ class: 'ui form contact_form'} do |f|
        .ui.error.message
        .two.fields
          .field
            = f.text_field  :name, :placeholder => "Name"
          .field
            = f.text_field  :email, :placeholder => "Email Address"
        .field
          = f.text_area  :message, :placeholder => "Message"
        .field
          = f.submit  "Send", class:'ui big button contact_btn', data:  { behavior: "messageForm" }
