- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客,个人主页,全栈工程师"
-cache 'home-index' do
  .masthead.segment
    .ui.text.container
      %h1.ui.inverted.header
        %span.person-title
          Wenwei Huang
        %div.typedjs
          %p.person-description
      .ui.fluid.horizontal.list
        .item
          = link_to "Contact me","javascript:void(0)",class:'large ui inverted button', data:  { behavior: "homeContactMe" }
        .item
          = link_to "RESUME", post_path(ResumePost.first), class:'large ui inverted button'
      -# = link_to '', "javascript:void(0)", class:'scroll', data: { behavior: "homeScrollNext" }
  .brief-itro.ui.stripe.community.vertical
    .ui.three.column.center.aligned.very.relaxed.stackable.grid.container
      .row.self-info
        .column
          %h2.ui.header
            = image_tag("/idnetity.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              我叫黄文威，性别男
            %p
              祖籍广东，15年毕业于广州某所高校
            %p
              喜欢看书、写字、编程、跑步、思考
            %p
              良好市民人畜无害，自由主义推崇者
        .column
          %h2.ui.header
            = image_tag("/work.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              软件工程师和写作者
            %p
              致力于开发高性能、可用的商业软件
            %p
              曾从事代码托管、区块链、聚合支付
            %p
              熟悉 Ruby、Sinatra、Rails 全栈开发
        .column
          %h2.ui.header
            = image_tag("/dream.gif",class:'self-info-img ui avatar small image')
          .brief-itro-desc
            %p
              敬畏未知，保持学习者心态
            %p
              和优秀的队友共事，提高团队效率
            %p
              设计简洁的网页，高性能架构网站
            %p
              为客户创造优秀的软件，增加利润
  .contact.segment
    .ui.text.container
      = form_for :contact, url: contacts_path, remote:true, html:{ class: 'ui form contact_form'} do |f|
        .ui.error.message
        .two.fields
          .field
            = f.text_field  :name, :placeholder => "Name"
          .field
            = f.text_field  :email, :placeholder => "Email Address"
        .field
          = f.text_area  :message, :placeholder => "Message"
        .field
          = f.submit  "Send", class:'ui big button contact_btn', data:  { behavior: "messageForm" }
