- title "首页"
- meta_tag :description,"黄文威 Rubyist"
- meta_tag :keywords,"博客,个人主页,全栈工程师"
-cache 'home-index' do
  %main
    .masthead.segment
      .ui.text.container
        %h1.ui.inverted.header
          %span.person-title
            Wenwei Huang
          %div.typedjs
            %p.person-description
        .ui.fluid.horizontal.list
          .item
            = link_to "联系我","javascript:void(0)",class:'large ui inverted button'
          .item
            = link_to "简  历","javascript:void(0)",class:'large ui inverted button'
    .post-list.ui.stripe.vertical.segment
      .ui.stackable.very.relaxed.grid.container
        .row
          .twelve.wide.column
            = render 'post'
          .four.wide.column
            = render 'experence'
            = render 'tweet'
    .brief-itro.ui.stripe.community.vertical
      .ui.three.column.center.aligned.very.relaxed.stackable.grid.container
        .row.self-info
          .column
            %h2.ui.header
              = image_tag("/idnetity.gif",class:'self-info-img ui avatar small image')
            .brief-itro-desc
              %p
                我叫黄文威
              %p
                92年生于广东, 15年毕业于广州某所高校
              %p
                喜欢看书，跑步，业余时间还会烧菜做饭
              %p
                我觉得自己很 nice, 性情温和，人畜无害
          .column
            %h2.ui.header
              = image_tag("/work.gif",class:'self-info-img ui avatar small image')
            .brief-itro-desc
              %p
                我是软件工程师
              %p
                目标成为一名合格的全栈工程师
              %p
                目前就职 oschina, 负责码云产品
              %p
                了解 Ruby/Rails Front-end UNIX
          .column
            %h2.ui.header
              = image_tag("/dream.gif",class:'self-info-img ui avatar small image')
            .brief-itro-desc
              %p
                梦想被狗吃了
              %p
                条路自己捡，扑街吾好喊
              %p
                敬畏未知，持学习者心态
              %p
