.item
  %time.timeago{ :datatime => "#{p.created_at}"}
  %h3.ui.header
    = link_to "#{p.title}",post_path(p), class:'post-link'
    - if current_user
      .right.floated.content
        = link_to post_path(p),  method: :patch, class: 'ui basic button' do
          - if p.published?
            屏蔽
          - else
            发布
  .ui.horizontal.list
    .item
      %i.unhide.icon
      #{p.counters}
    .item
      %i.comment.outline.icon
      #{p.comments.size}
    .item
      %i.icon.time
      #{p.created_at.strftime('%F')}
