- title "文章列表"
- meta_tag :description,"关注 Web 全栈开发，总结 Web 开发经验，前端，后端  Full Stack Developer"
- meta_tag :keywords,"博客,个人主页,全栈工程师,前端,后端,Fronted-end,Back-end,Ruby,Rails"
= stylesheet_link_tag    'simditor', media: 'all', 'data-turbolinks-track' => true
.post-index
  .stackable.very.relaxed.ui.grid.container
    .row
      .ten.wide.column.post_list.ui.list
        - @posts.each do |p |
          - cache p do
            = render partial: 'post', locals: { p: p }
        = paginate @posts
      .six.wide.column.post_list_sidebar
        .most_read.ui.list
        .categories
          .ui.header
            Post Category
          .ui.list
            - Category.all.each do |category|
              - cache category do
                .item
                  = link_to post_index_path(category: category.id), class:"category" do
                    %i.book.icon
                    = category.title
        .tag_list
          .ui.header
            Tags
          .ui.labels
            - @tags.each do |tag|
              - cache tag do
                = link_to "javascript:void(0)", class: 'ui basic label' do
                  = tag.name
        .comment_list
