- title "文章列表"
- meta_tag :description,"软件开发，区块链开发，前端，后端"
- meta_tag :keywords,"博客,个人主页,区块链,后端,Fronted-end,Back-end,Ruby,Rails,Golang"
= stylesheet_link_tag    'simditor', media: 'all', 'data-turbolinks-track' => true
.post-index
  .stackable.very.relaxed.ui.grid.container
    .row
      .ten.wide.column.post_list.ui.list.divided
        - @posts.each do |p |
          - cache [p, current_user] do
            = render partial: 'post', locals: { p: p }
        .column
          = paginate @posts
      .six.wide.column.post_list_sidebar
        .tweet_list
          .ui.header.tweet_header
            THINK
          = link_to tweets_path, class: 'ui right floated header' do
            MORE >>
          - if current_user
            .tweet_form
            = form_for Tweet.new, :html => { class: 'tweet ui form' } do |f|
              = f.text_area :content, placeholder: 'tweet content'
              = f.submit "create tweet", class: 'ui basic fluid button'
          .ui.list
            - @tweets.each do |tweet|
              - cache tweet do
                = link_to "javascript:void(0)", class: 'item', remote: true do
                  %span.time
                    #{tweet.created_at.strftime('%F %H:%M')}
                    说:
                  = truncate tweet.content, length: 200
        .most_read.ui.list
        .tag_list
          .ui.header
            Posts Tags
          .ui.labels
            - @tags.each do |tag|
              - cache tag do
                = link_to "javascript:void(0)", class: 'ui basic label' do
                  = tag.name
        .categories
          .ui.header
            Post Categories
          .ui.list
            - Category.all.each do |category|
              - cache category do
                .item
                  = link_to post_index_path(category: category.id), class:"category" do
                    %i.book.icon
                    = category.title
        .comment_list
