- content = @content
- title "#{@post.title}"
- meta_tag :description,"#{@post.title}"
- meta_tag :keywords,"#{@post.title},#{@post.tag_list}"
= stylesheet_link_tag    'simditor', media: 'all', 'data-turbolinks-track' => true
.ui.vertical.stripe.post-show
  .ui.vertical.stripe.post-pic
    .row
      .sixteen.wide.column
  .stackable.very.relaxed.ui.grid.container.post-main
    .row
      .sixteen.wide.column
        %article.post-detail
          = render partial: "post", locals: {post: @post}
