- title "#{@post.title}"
- meta_tag :description,"#{@post.title}"
- meta_tag :keywords,"#{@post.title},#{@post.tag_list}"
.ui.vertical.stripe.post-show
  .stackable.very.relaxed.ui.grid.container
    .row
      .eleven.wide.column
        %article.post-detail
          = render partial: "post", locals: {post: @post}
      .five.wide.column
        %aside.sidebar
