- title "#{@post.title}"
- meta_tag :description,"#{@post.title}"
- meta_tag :keywords,"#{@post.title},#{@post.tag_list}"
.ui.vertical.stripe.post-show
  .ui.vertical.stripe.post-pic
    .row
      .sixteen.wide.column
  .stackable.very.relaxed.ui.grid.container.post-main
    .row
      .sixteen.wide.column
        %article.post-detail
          %h1.ui.header.post-header
            = @post.title
          .simditor.override-simditor
            .post-content.description.simditor-body.override-simditor-body
              = raw @post.content
          .post-tag.ui.tag.labels
            - @post.tag_list.each do |tag|
              = link_to tag, "#", class: 'ui label'
          .like
            = link_to "#", remote: true, method: :delete, class:'ui green basic button like-btn' do
              %span.like_count  #{@like_count}
              %span Like
          = social_share_button_tag(@post.title)
        %comments.comments
          .comment-head
            %span.comment-count
              #{@post.comments.size} 条评论
          .ui.accordion.comment_form
            .title
              %i.icon.dropdown
              您想说点什么吗？
            .content
              .ui.segment
                = render partial: 'comments/form', locals: { post: @post }
          - @post.comments.each_with_index do |comment|
            = render partial: 'comments/comment', locals: { comment: comment }
