%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title
    = if content_for?(:title) then yield(:title) + ' |' end
    黄文威
  %meta{name:'Description',content:"#{yield_meta_tag(:description, 'Default description')}"}
  %meta{name:'Keywords',content:"#{yield_meta_tag(:keywords, 'defaults,ruby,rails')}"}
  - if controller_name == 'home' && action_name == 'index'
    %meta{ :name => 'turbolinks-cache-control', :content => 'no-cache'}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  = include_gon
