-cache 'header' do
  %header#header
    .ui.vertical.center.aligned.segment.header-menu
      .ui.container
        .ui.large.secondary.menu
          %a.toc.item
            %i.sidebar.icon
          = link_to '首页', root_path, class:'item'
          = link_to "博客", post_index_path, class:'item'
          = link_to "简历","#",class:'item'
          = link_to "作品","#",class:'item'
          .right.item
            - if signed_in?
              = button_to '退出', sign_out_path, method: :delete, class: 'ui green inverted button'
              = button_to '后台管理', admin_root_path, method: :get, class: 'ui inverted blue button'
