%header.headeroom
  .ui.vertical.center.aligned.segment.header-menu
    .ui.container
      .ui.large.secondary.menu
        %a.toc.item
          %i.sidebar.icon
        = link_to "WENWEI HUANG",root_path, class:"top item #{nav_active(path: 'home#index')}"
        = link_to "Blog", post_index_path, class:"top item #{nav_active(path: 'blog#index')}"
        = link_to "About","/blogs/resume",class:'top item'
        = link_to "Cardanofans", "https://cardanofans.io/", class: "item top", target: "_blank"
        = link_to "Portfolio","#",class:'item top'
        .right.item
          .ui.floating.teal.mini.message
            = SettingsLogic.hire
          - if signed_in?
            = button_to '退出', sign_out_path, method: :delete, class: 'ui green inverted button'
            = button_to '后台管理', admin_users_path, method: :get, class: 'ui inverted blue button'
