.ui.vertical.top.sidebar.menu
  = link_to '首页', root_path, class:'active item'
  = link_to "博客", post_index_path, class:'item'
  = link_to "简历","/blogs/resume",class:'item'
  = link_to "作品","#",class:'item'
  = link_to "联系","#",class:'item'
