- @tags = ActsAsTaggableOn::Tag.order(taggings_count: :desc)
= form_for([namespace, page.resource], html: { class: "form" }) do |f|
  - if page.resource.errors.any?
    #error_explanation
      %h2
        = pluralize(page.resource.errors.count, "error")
        prohibited this #{page.resource_name} from being saved:
      %ul
        - page.resource.errors.full_messages.each do |message|
          %li= message
  %fieldset.form-group
    = f.hidden_field :book_cover_url,class:'url_cover'
    - page.attributes.each do |attribute|
      - if attribute.name == 'title'
        .post-title
          = f.text_field :title,placeholder:"title"
      - else attribute.name == 'content'
        .post-content
          = render "application/editor", f: f
  = f.select  :tag_list, @tags.collect { |t| [t.name,t.name] }, {}, { :multiple => "multiple" }
  = f.text_field :friend_url,placeholder: "friendly_url"
= render "application/dropzone"
.form-actions
  = button_tag "提交表单", class: 'btn-book-new-edit'

:javascript
  $(".btn-book-new-edit").on('click',function(){
    $(".form").submit();
  });
