- cache 'footer' do
  %footer.textaligncenter
    .ui.grid.footer-index
      .four.wide.column
        %p.power © 2015 HuangWenwei, Inc.
      .eight.wide.column
        .ui.horizontal.list.main-footer
          =link_to "服务","#",class:'item'
          =link_to "客户","#",class:'item'
          =link_to "联系","#",class:'item'
          =link_to "雇佣","#",class:'item'
      .four.wide.column.footer-social
        .ui.horizontal.list.social
        = link_to "https://github.com/wenweih",class:'item' do
          %i.github.icon
        = link_to "http://git.oschina.net/hww",class:'item' do
          = image_tag "/git-osc.png",class:'oschina-icon'

        = link_to "http://weibo.com/2199412853/profile?topnav=1&wvr=6&is_all=1",class:'item' do
          %i.weibo.icon
        = link_to "http://my.oschina.net/huangwenwei?fromerr=r4tLzx3U",class:'item' do
          = image_tag "/oschina.png",class:'oschina-icon'
        = link_to "https://twitter.com/idhww",class:'item' do
          %i.twitter.icon
:scss
  footer{
    height: 10vh;
    color: rgba(0,0,0,0.3);
    .footer-index{
      width:100%;
      .eight.wide.column{
        .main-footer{
          .item{
            font-size: 15px;
            color: rgba(0,0,0,0.3);
          }
        }
      }
      .four.wide.column.footer-social{
        font-size: 20px;
        .social{
          .item{
            max-width:22px;
            max-height:22px;
          }
          a{
            color: rgba(0,0,0,0.3);
          }
        }
        .oschina-icon{
          max-width:20px;
          max-height:20px;
        }
      }
    }
  }
