!!! 5
%html
  - meta_tag :description,"hww huangwenwei www.huangwenwei.me 专注 Ruby on Rails web 全栈开发 蔬本华素食网站 站长，推广素食文化。"
  - meta_tag :keywords,"网站,Ruby,Rubyist,开源,环保,全栈工程师,前端工程师,Ruby工程师,Rails工程师"
  = render 'head'
  %body
    = render 'sidebar'
    .pusher
      = render 'flash'
      = render 'header'
      = yield
      = render 'footer'
