!!! 5
%html
  - meta_tag :description,"- 黄文威 https://huangwenwei.com 熟悉 Ruby, Golang, Python, NodeJS 后端工程师 全栈开发，区块链技术爱好者 博客站长 技术支持。"
  - meta_tag :keywords,"网站,Ruby,Rubyist,Golang,开源,环保,全栈工程师,前端工程师,Ruby工程师,Golang工程师,区块链开发"
  = render 'head'
  %body{class:"#{controller_name} #{action_name}"}
    = yield :script
    = yield :style
    = include_gon
    = render 'sidebar'
    .pusher
      = render 'flash'
      = header_helper
      %main
        = yield
      = render 'footer'
