!!! 5
%html
  - meta_tag :description,"hww huangwenwei www.huangwenwei.me 专注 Ruby on Rails web 全栈开发 蔬本华素食网站 站长，推广素食文化。"
  - meta_tag :keywords,"网站,Ruby,Rubyist,开源,环保"
  = render 'head'
  %body
    = render 'flash'
    = render 'header'
    = yield
    = render 'footer'
